{% extends 'index.html' %}
{% load static %}
{% block body %}
{% if error == "pat1" %}
<script>
    alert('logged in successfully');
    window.location="{% url 'patient_home' %}";
</script>
{% endif %}


	<!-- login -->
	<section class="logins py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Forgot Password</h3>
			</div><hr/>
			<div class="login px-sm-4 mx-auto mw-100 login-wrapper">
				<form class="login-wrapper" action="" method="post">
					<div class="form-group">
                        
						<label>Email</label>
                        <button type="button" onclick="sendemail()" class="btn btn-primary pull-right mt-4 submit"><i class="fa fa-envelope"></i></button>
						<input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required="" style="width:95%">
					</div>
                    <br>

					<div class="form-group">
						<label>One Time Password</label>
						<input type="text"  class="form-control" id="password" placeholder="Enter One time password" required="">
					</div>
					<button type="button"  onclick="sendotp()" class="btn btn-primary submit mt-4">Submit</button>
					
				</form>
			</div>
		</div>
	</section>
	<!-- //login -->


<script>

    function sendemail(){
        var formData = new FormData();
        formData.append('email', document.getElementById('email').value);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $.ajax({
            url : "{% url 'forgot_password' %}",
            type : 'POST',
            data : formData,
            processData: false,
            contentType: false,
            success : function(data) {
                if(data['status']){
                    alert("Otp sent successfully. ");
                }
                else{
                    alert("Something went wrong.");
                }
                
            }
        })
    }


    function sendotp(){
        var formData = new FormData();
        formData.append('email', document.getElementById('email').value);
        formData.append('password', document.getElementById('password').value);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        $.ajax({
            url : "{% url 'check_password' %}",
            type : 'POST',
            data : formData,
            processData: false,
            contentType: false,
            success : function(data) {
                if(data['status']){
                    alert("Password sent on your email. ");
                    window.location = "/login/";
                }
                else{
                    alert("Something went wrong.");
                }
                
            }
        })
    }

</script>

{% endblock %}