{% extends 'index.html' %}
{% load static %}
{% block body %}

<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>The healthcare system offers four broad types of services: health promotion, disease prevention, diagnosis and treatment, and rehabilitation.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="">Heart Prediction</a></h4>
            <p>Heart Prediction, providing after logistic algo.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">General Health Prediction</a></h4>
            <p>Provoding a number of general health related problem after prediction.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a href="">Specialist Doctor</a></h4>
            <p>Providing Specialist Doctor after a great verification team.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4><a href="">Blood Donor</a></h4>
            <p>Donate your blood as humanity in your Area.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4><a href="">Request Blood</a></h4>
            <p>Option for request for blood in your area.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4><a href="">Blood Bank</a></h4>
            <p>Used Classification Model for prediction</p>
          </div>
        </div>
      </div>

    </div>
  </section>

{% endblock %}